@use "../vars/vars.scss" as v;
@use "../extends/extend.scss";
@use "../tools/mixins.scss" as mixins;
@use "../breakpoints/breakpoints.scss" as *;

header {
  nav {
    width: 5rem;
    height: 100vh;
    background: v.$bg-primary;

    ul {
      @extend %flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;
      height: v.$full;

      .logo-container {
        @extend %flex;
        height: 30%;
        li {
          width: v.$full;

          a {
            @extend %decoration-none;
            @extend %flex;
            align-items: center;
            gap: 1em;
            svg {
              height: 5rem;
              fill: #d7dbdd;
            }

            #logo-text {
              display: none;
            }
          }
        }
      }

      .div-nav {
        @extend %flex;
        flex-direction: column;
        width: v.$full;
        height: 70%;
        gap: 3rem;
        li {
          @extend %flex;
          justify-content: start;
          flex-direction: column;
          width: v.$full;

          a {
            @extend %flex;
            @extend %decoration-none;
            width: v.$full;
            justify-content: space-around;
            align-items: start;

            span {
              display: none;
            }

            svg {
              height: 2rem;
              fill: v.$fill-color;
            }

            filter: grayscale(100%) opacity(0.7);
            transition: v.$transition-speed;

            &:hover {
              filter: grayscale(0) opacity(1);
            }
          }

          &:hover {
            &::after {
              content: "";
              width: 70%;
              height: 4px;
              margin-top: 1rem;
              background: v.$bg-secondary;
            }
          }
        }
      }
    }
  }
  @include mixins.media-max(lg) {
    .navbar {
      .navbar-nav {
        .logo-container {
          .logo {
            .nav-logo {
              .logo-text {
                display: none;
              }
            }
          }
        }
        .div-nav {
          .nav-item {
            &:last-child {
              display: none;
            }
          }
        }
      }
      &:hover {
        width: 16rem;
        @include mixins.display(16rem);
      }
    }
  }

  @include mixins.media-up(lg) {
    .navbar {
      width: v.$full;
      height: 7rem;

      .navbar-nav {
        flex-direction: column;
        .logo-container {
          margin-top: 1rem;
          .logo {
            .nav-logo {
              display: flex;
              justify-content: start;
              svg {
                height: 2.5rem;
                margin-left: 1rem;
              }
              #logo-text {
                margin: 4px 16px 0;
                display: block;
              }
            }
          }
        }
        .div-nav {
          flex-direction: row;
          gap: 1em;
          .nav-item {
            &:last-child {
              display: block;
            }
          }
        }
      }
    }
  }

  @include mixins.media-up(sm) {
    .navbar {
      width: v.$full;
      height: 6rem;

      .navbar-nav {
        flex-direction: column;
        .logo-container {
          margin-top: 1rem;
          .logo {
            .nav-logo {
              display: flex;
              justify-content: start;
              svg {
                height: 2.5rem;
                margin-left: 1rem;
              }
              #logo-text {
                margin: 4px 16px 0;
                display: block;
              }
            }
          }
        }
        .div-nav {
          flex-direction: row;
          gap: 1em;
          .nav-item {
            &:last-child {
              display: block;
            }
          }
        }
      }
    }
  }
}
