@use "../vars/vars.scss" as v;
@use "../extends/extend.scss";
@use "../tools/mixins.scss" as mixin;

header {
  nav {
    background: v.$bg-primary;

    ul {
      @extend %flex;
      // flex-direction: column;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;
      height: 100%;

      .container-logo {
        @extend %flex;
        justify-content: space-between;
        background: whitesmoke;
        li {
          @extend %flex;
          width: v.$width-full;
          height: 80%;

          a {
            @extend %flex;
            @extend %decoration-none;
            gap: 1rem;

            svg {
              fill: v.$fill-color;
            }

            h2 {
              display: none;
            }
          }
        }
      }

      div {
        // @extend %flex;
        display: flex;
        justify-content: space-around;
        // flex-direction: column;
        width: v.$width-full;
        height: 70%;
        li {
          @extend %flex;
          justify-content: start;
          width: v.$width-full;
          height: 20%;

          .nav-link {
            @extend %flex;
            @extend %decoration-none;
            justify-content: space-around;
            align-items: center;
            height: 70%;
            width: v.$width-full;

            span {
              display: none;
            }

            svg {
              height: 2rem;
              fill: v.$fill-color;
            }
            filter: grayscale(100%) opacity(0.7);
            transition: 100ms heigth ease-in-out;
          }
        }
      }
    }
  }
}
