$font-size: 16px;
$font-family: "Geologica", sans-serif;
$text-primary: #b6b6b6;
$text-secondary: #ecececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: heigth 100ms ease-in;
$fill-color: #f66f3e;
