@import "../normalize/normalize.css";

// @use "../normalize/normalize.css";

$font-size: 16px;
$font-family: "Geologica", sans-serif;
$text-primary: #b6b6b6;
$text-secondary: #ecececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: heigth 100ms ease-in;
$fill-color: #f66f3e;

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%decoration-none {
  text-decoration: none;
  color: $text-primary;
}

@mixin display($size) {
  @if $size == 16rem {
    .link-text {
      display: block;
    }
    .logo-text {
      display: block;
    }
  }
}

* {
  font-family: $font-family;
}

header {
  nav {
    @extend %flex;
    justify-content: start;
    width: 5rem;
    background: $bg-primary;
    height: 100vh;

    &:hover {
      width: 16rem;
      @include display(16rem);
    }

    ul {
      @extend %flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      .logo {
        @extend %flex;
        width: 100%;
        height: 30%;
        background: $bg-secondary;
        margin-top: 0;
        a {
          @extend %decoration-none;
          @extend %flex;
          width: 100%;
          // justify-content: space-around;
          flex-direction: column;
          gap: 2.5rem;
          color: #23232e;
          svg {
            height: 5rem;
            fill: $fill-color;
          }

          div {
            position: relative;
            h2 {
              display: none;
              font-size: 3rem;
              font-weight: bold;
              position: absolute;
            }

            .logo-border {
              text-shadow: -1px -1px 0 white, -1px -1px 0 white,
                -1px -1px 0 white, -1px -1px 0 white;
            }

            .logo-wave {
              color: $fill-color;
              animation: wave 3s ease-in-out infinite;
            }
          }
        }
      }

      div {
        @extend %flex;
        // justify-content: start;
        flex-direction: column;
        width: 100%;
        height: 75%;
        li {
          @extend %flex;
          justify-content: start;
          width: 100%;

          height: 10vh;
          &:first-child {
            display: none;
          }

          filter: grayscale(100%) opacity(0.7);
          &:hover {
            filter: grayscale(0%) opacity(1);
            background: $bg-secondary;
          }

          a {
            @extend %decoration-none;
            @extend %flex;
            svg {
              margin-left: 1rem;
              height: 2.5rem;
              fill: $fill-color;
            }
            span {
              display: none;
              margin-left: 5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      35% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      54% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
